<div class="comment-list clearfix" id="comments">
  <ol>
    <li class="comment first last">
      <div class="comment-body">
        <div class="inner gradient">
          <div class="comment-arrow"></div>
          <div class="comment-avatar">
            <div class="avatar"><img src="{{avatar}}" alt=""></div>
          </div>
          <div class="comment-text">
            <div class="comment-author clearfix">
              <a href="#" class="link-author" hidefocus="true" style="outline: none;">{{username}}</a> <span
                class="comment-date">{{date}} | {{time}}</span>
            </div>
            <div class="comment-entry">
              {{message}}
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </li>
  </ol>
</div>